html {
  font-size: 10px;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  margin: auto;
  text-align: center;
}

.headerImage {
  width: 260px;
  height:auto;
  margin-top: 40px;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: rgb(45, 45, 45);
  letter-spacing: 2px;
}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.key {
  border: .4rem solid rgb(154, 154, 154);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.112);
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  background: #ffe5a3;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
  font-family: sans-serif;
  color: rgb(45, 45, 45);
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: rgb(45, 45, 45);
}
